<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Course Review Rating</title>
    <link rel="icon" type="image/png" sizes="16x16" href="../../public/images/favicon.jpeg">
    <link rel="stylesheet" type="text/css" href="../../public/css/style.css">
</head>

<body>
    <header>
            <nav>
               <a href="/">Home</a>
                <a href="/courses">Courses</a>
                {{#if studentLoggedIn}}
               <a href="/students/profile" id="profile">Profile</a>
                <a href="/students/logout" id="studentLogout">Logout</a>
                {{else if adminLoggedIn}}
                <a href="/courses/add" id="addCourse">Add course</a>
                <a href="/students/logout" id="adminLogout">Logout</a>
                {{else}}
               <a href="/students/login" id="login">Login</a>
                <a href="/courses/admin" id="admin">Admin</a>
                {{/if}}
            </nav>
    </header>
  {{{body}}}
    <footer>
        <nav>
            <a href="/courses/contactus" id="contact-us">Contact-US</a>
        </nav>
    </footer>
</body>
</html>