<main>
  <h2>please register with your admin email and also enter the passcode</h2>
  <div class="container" id="adminregister-details">
    <form class="registerForm" id="adminregister_form" name="RegisterForm" action="/courses/admin/register"
      method="POST">
        <label for="email"></label>
          <input type="text" name="email" id="email" placeholder="Enter your Email"> 
        <span id="emailError" class="error"></span>
        <label for="password"></label>
          <input type="password" id="password" name="password" minlength="8" placeholder="Enter a Password">
        
        <span id="passwordError" class="error"></span>
        <label for="passcode"></label>
          <input type="text" id="passcode" name="passcode" minlength="8" placeholder="Enter a Passcode">
        <span id="passcodeError" class="error"></span>
        <button type="submit" class="btn">Register</button>
    </form>

    <p id="error-msg" class="error-msg"></p>

  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
    </script>
  <script src="/public/javascript/adminRegister.js"></script>
</main>