<main>
  <div>
    <h1>FAQ'S</h1>
<div>
  <button type="button" class="faq-button">How to get the passcode?</button>
<div class="open-faq">
  <p>Contact admin to get the passcode.</p>
</div>

<button type="button" class="faq-button">I'm not able to comment on the courses</button>
<div class="open-faq">
  <p>You will only be able to comment if you have registered for the
        subject. If you are still facing any issue, please contact the
        administrator.</p>
</div>

<button type="button" class="faq-button">Is this website only for stevens</button>
<div class="open-faq">
   <p>Yes</p>
    </div>
</div>
  <div>
    <h1>Thanks for visting our web application</h1>
    <p>If you have further queries, please reach out to us at <a href="admin@gmail.com">admin@gmail.com</a></p>

  </div>

  <script src="/public/javascript/faqs.js"></script>
</main>