<main>
 
  <div class="container" id="register-details">
     <h1>please register with your college email</h1>
    <form class="registerForm" id="register_form" name="RegisterForm" action="/students/register" method="POST">
      <label for="firstname"></label>
      <input type="text" name="firstname" id="firstname" minlength="4" placeholder="Enter your First Name">
      <span id="firstnameError" class="error"></span>
      <label for="lastname"></label>
      <input type="text" name="lastname" id="lastname" minlength="4" placeholder="Enter your Last Name">
      <span id="lastnameError" class="error"></span>
      <label for="email"></label>
      <input type="text" name="email" id="email" placeholder="Enter your Email">
      <span id="emailError" class="error"></span>
      <label for="password"></label>
      <input type="password" id="password" name="password" minlength="8" placeholder="Enter a Password">
      <span id="passwordError" class="error"></span>
      <label for="coursetaken1"></label>
      <input type="text" id="coursetaken1" name="coursetaken1" minlength="4"
        placeholder="Same as listed in courses(case sensitive)" class="wrap-text">
      <span id="coursetaken1Error" class="error"></span>
      <div id="new_course"></div>
      <button onclick="add()">Add</button>
      <button onclick="remove()">remove</button>
      <label for="total_course"></label>
      <input type="hidden" value="1" id="total_course">
      <button type="submit" class="btn">Register</button>
    </form>
    <p id="error-msg" class="error-msg"></p>
  </div>
  <script>
    function add() {
      var new_course_no = parseInt($('#total_course').val()) + 1;
      if (new_course_no <= 4) {
        var new_input = "<label for='coursetaken" + new_course_no + "'></label>" +
          "<input type='text' id='coursetaken" + new_course_no + "' name='coursetaken" + new_course_no + "' minlength='4' placeholder='Enter course'>" +
          "<span id='coursetaken" + new_course_no + "Error class='error'></span>";
        $('#new_course').append(new_input);
        $('#total_course').val(new_course_no)
      }
    }
    function remove() {
      var last_course_no = $('#total_course').val();
      if (last_course_no > 1) {
        $('#coursetaken' + last_course_no).remove();
        $('#total_course').val(last_course_no - 1);
      }
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
    </script>
  <script src="/public/javascript/register.js"></script>
</main>