<main>
  <h2>please register with your college email</h2>
  <div class="container" id="register-details">
     
    <form class="registerForm" id="register_form" name="RegisterForm" action="/students/register" method="POST">
      <label for="firstname"></label>
      <input type="text" name="firstname" id="firstname" minlength="4" placeholder="Enter your First Name">
      <span id="firstnameError" class="error"></span>
      <label for="lastname"></label>
      <input type="text" name="lastname" id="lastname" minlength="4" placeholder="Enter your Last Name">
      <span id="lastnameError" class="error"></span>
      <label for="email"></label>
      <input type="text" name="email" id="email" placeholder="Enter your Email">
      <span id="emailError" class="error"></span>
      <label for="password"></label>
      <input type="password" id="password" name="password" minlength="8" placeholder="Enter a Password">
      <span id="passwordError" class="error"></span>
      <button type="submit" class="btn">Register</button>
    </form>
    
      <p id="error-msg" class="error-msg"></p>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
    </script>
  <script src="/public/javascript/register.js"></script>
</main>